p {
  margin: 0;
}

a:hover {
  text-decoration: none;
  color: #5ac44c;
}

label {
  color: #6a6a6a;
}

textarea {
  resize: vertical;
}

.p-3 {
  padding: 3px;
}

.section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: #6DDA5F;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
  background-color: #6DDA5F;
  border-color: #6DDA5F;
}

#login {
  background-color: #f4f4f4;
}

.navbar {
  background-color: #fff;
  border-radius: 0;
}

.btn-primary {
  background-color: #6DDA5F;
  border: none;
  transition: .2s all ease-in;
  -webkit-transition: .2s all ease-in;
  -moz-transition: .2s all ease-in;
  -o-transition: .2s all ease-in;
}
.btn-default {
  background-color: #f4f4f4;
}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
  background-color: #5ab14e;
}

.btn-file.active.focus, .btn-file.active:focus, .btn-file.active:hover, .btn-file:active.focus, .btn-file:active:focus, .btn-file:active:hover, .open>.dropdown-toggle.btn-file.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-file:hover, .btn.btn-file:hover {
  background-color: #e9e9e9;
  color: #666;
}

.btn.btn-file {
  position: relative;
  overflow: hidden;
  background-color: #f4f4f4;
  border-color: #ddd;
  color: #666;
}
.btn.btn-file > input[type='file'] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  opacity: 0;
  filter: alpha(opacity=0);
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

.pagination>li>a, .pagination>li>span {
  color: #6DDA5F;
}

.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
  color: #5ac44c;
}

.post {
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #f4f4f4;
}

.box {
  box-shadow: 0px 0px 10px 3px #ddd;
}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 500px;
  border: 1px solid #ddd;
  padding: 20px 50px;
  background-color: #fff;
}

.login-box-head {
  margin-bottom: 20px;
}

.login-box-head h1 {
  color: #6DDA5F;
  font-size: 26px;
}

.login-box-footer {
  margin-top: 30px;
}

.img-box {
  max-width: 500px;
  max-height: 500px;
  margin: 0 auto;
}

.img-prev {
  max-height: 100px;
}

.img-post {
  width: auto;
  /*height: 100%;*/
  margin: 0 auto;
}

.no-border {
  border: transparent !important;
}

.modal-header {
  text-align: center;
}

/*Font and Text*/
.h1, h2, h3, h4, h5, p {
  margin-top: 0
}

.text-green {
  color: #6DDA5F;
}

.text-danger {
  color: #ff0c08;
}

.text-lgray {
  color: #bcbcbc;
}

.text-id {
  color: #afafaf;
  font-size: 14px;
}

/*Form*/
.form-control {
  border: none;
  border-bottom: 1.3px solid #ddd;
  box-shadow: none;
  border-radius: 0;
}

.form-control:focus {
  border-color: #6DDA5F;
  box-shadow: none;
}

.upload-form {
  background-color: transparent !important;
  color: #bcbcbc;
}

.upload-form:focus {
  border-color: #ddd;
}
/*Background*/
.bg-lgray {
  background-color: #f4f4f4;
}
.bg-white {
  background-color: #fff;
}

/*Footer*/
footer {
  padding: 5px;
  text-align: center;
  background-color: #fff;
}

/*Small Components*/
.hide {
  display: none;
}